.container{
    border: 6px ridge;
    width: 980px;
	
}

div
{
    border-radius: 54px;
    }
#header
{
    background-color: white;
    height: 144px;
    margin: 5px;
    width: 99%;
    z-index: 1;
    }

#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 165px;
	font-family: Verdana, sans-serif;
	
}

#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	
}

#contact
{
    margin-left: 306px;
    padding-bottom: 10px;
	font-size: 89%;
	font-family: Verdana, sans-serif;
	
    }

a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: -35px;
    padding-left:5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    background-color: white;
    }

/*.left
{
    float: left;
    margin-top: 50px;
    /*margin-right: -90px;
    height: relative;
    width: 10%;
    background-color: #4160E8;
    }*/
    
#footer
{
    height:40px;
    clear:both;
    }
    
h3
{
    text-decoration: underline;
    }

#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }

#course-name
{
    font-weight:bold;
    }

#company-name
{
    height:2px;
    text-decoration:underline;
    }
#job-title
{
    height: 5px;
    }
.job-duration
{
    float:right;
    }
#heading
{
    font-weight:bold;
    }
	ul{
	list-style:none;
	}