/*-----------------------------------------------------------------------
/*  RED
/*-----------------------------------------------------------------------

1. GLOBAL STYLES
        1.2 TEXT COLOR
        1.3 ANCHOR

2. COMPONENTS
        2.1. BUTTON
        2.2. DIVIDER
        2.4. SELECT BOXES CUSTOM

3. PRELOADER

5. NAVIGATION

6. SECTION STYLES & COMPONENTS

        6.2. SECTION - PORTFOLIO

        6.4. SECTION - STRENGHTS

        6.5. SECTION - RESUME

        6.6. SECTION - REFERENCES

        6.7. SECTION - SKILLS

        6.8. SECTION - KNOWLEDGE

        6.9. SECTION - ACCOLADES

        6.10. SECTION - MILESTONES

        6.11. SECTION - WORK PROCESS

        6.13. SECTION - BLOG

7. MAP

8. FOOTER

/*---------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  1.2. TEXT COLOR
/*---------------------------------------------------------------------*/
.colored-text {
  color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  1.3. ANCHOR
/*---------------------------------------------------------------------*/
a {
  color: #db1521;
}

a:hover,
a:focus {
  color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  2. COMPONENTS
/*  2.1. BUTTON
/*---------------------------------------------------------------------*/
.btn.btn-custom {
  background-color: #db1521;
  box-shadow: 0 3px 0 #ac111a;
}

.btn.btn-custom:hover {
  background-color: #c4131d;
}


/*---------------------------------------------------------------------*/
/*  2.2. DIVIDER
/*---------------------------------------------------------------------*/
span.divider {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  2.4. SELECT BOXES CUSTOM
/*---------------------------------------------------------------------*/
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option[aria-selected=true] {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  3. PRELOADER
/*---------------------------------------------------------------------*/
#jpreBar {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  5. NAVIGATION
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top .navbar-nav > li.active > a {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:hover {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-nav > li.active > a:focus {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a,
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a:hover,
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a:hover {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:hover,
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:focus {
  color: #db1521;
}

.navbar.navbar-fixed-top .navbar-toggle {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.2. SECTION - PORTFOLIO
/*---------------------------------------------------------------------*/
.portfolio .item > .project-wrapper > .project-link > a.external-link {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.4. SECTION - STRENGHTS
/*---------------------------------------------------------------------*/
.column-chart > .chart > .item > .bar > .item-progress {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.5. SECTION - RESUME
/*---------------------------------------------------------------------*/
.panel-group.resume .resume-item .resume-year {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.6. SECTION - REFERENCES
/*---------------------------------------------------------------------*/
#references .flexslider.references > .slides > .item .profile:before {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.7. SECTION - SKILLS
/*---------------------------------------------------------------------*/
.circle-chart .item > .percent {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.8. SECTION - KNOWLEDGE
/*---------------------------------------------------------------------*/
.bar-chart > .item > .bar > .percent {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.9. SECTION - ACCOLADES
/*---------------------------------------------------------------------*/
.accolades > .item > i {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.10. SECTION - MILESTONES
/*---------------------------------------------------------------------*/
.milestones .item > .circle {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.11. SECTION - WORK PROCESS
/*---------------------------------------------------------------------*/
.work-process .item .inner-content > i {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  6.13. SECTION - BLOG
/*---------------------------------------------------------------------*/
#blog .blog-post > .post-meta > span.date {
  background-color: #db1521;
}


/*---------------------------------------------------------------------*/
/*  7. MAP
/*---------------------------------------------------------------------*/
#map > .address {
  background-color: #db1521;
  border-bottom: 2px solid #ac111a;
}


/*---------------------------------------------------------------------*/
/*  8. FOOTER
/*---------------------------------------------------------------------*/
footer.footer .page-scroll > a {
  background-color: #db1521;
  box-shadow: 0 3px 0 #ac111a;
}
